Tests/Service References/Worker/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Processor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProcessor_ProcessRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="IProcessor_ProcessRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessor_ProcessNewRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessNewRequests" />
  </wsdl:message>
  <wsdl:message name="IProcessor_ProcessNewRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessNewRequestsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProcessor">
    <wsdl:operation name="ProcessRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessor/ProcessRequest" message="tns:IProcessor_ProcessRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessor/ProcessRequestResponse" message="tns:IProcessor_ProcessRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessNewRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessor/ProcessNewRequests" message="tns:IProcessor_ProcessNewRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessor/ProcessNewRequestsResponse" message="tns:IProcessor_ProcessNewRequests_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessorBasicHttpEndpoint" type="tns:IProcessor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://tempuri.org/IProcessor/ProcessRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessNewRequests">
      <soap:operation soapAction="http://tempuri.org/IProcessor/ProcessNewRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Processor">
    <wsdl:port name="ProcessorBasicHttpEndpoint" binding="tns:ProcessorBasicHttpEndpoint">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Nodule_wCI.Worker/Processor/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>